In [96]:
# imports 
import pandas as pd
import numpy as np

In [2]:
# read the csv file
df = pd.read_csv('world_population2023.csv')
df

,Unnamed: 0,country name,current population,population 2022,area,land area,density,growth rate,world percentage,rank
0,0,India,"1,423,261,773","1,417,173,173",3.3M,3M,481,0.81%,17.85%,1
1,1,China,"1,425,816,272","1,425,887,337",9.7M,9.4M,151,-0.02%,17.81%,2
2,2,United States,"339,251,443","338,289,857",9.4M,9.1M,37,0.50%,4.25%,3
3,3,Indonesia,"276,601,760","275,501,339",1.9M,1.9M,148,0.74%,3.47%,4
4,4,Pakistan,"238,568,353","235,824,862",881.9K,770.9K,312,1.98%,3.00%,5
...,...,...,...,...,...,...,...,...,...,...
200,200,San Marino,"33,642","33,660",61,60,561,-0.05%,0.00%,218
201,201,Palau,"18,058","18,055",459,460,39,0.02%,0.00%,222
202,202,Nauru,"12,780","12,668",21,20,639,0.88%,0.00%,225
203,203,Tuvalu,"11,396","11,312",26,30,380,0.74%,0.00%,227
204,204,Vatican City,518,510,< 1,< 1,"1,177",1.57%,NaN,234

#### steps to take while cleaning data are.
1. delete unnecessary column i.e. Unnamed:0
2. Remane all columns so that there is easiness in writing.
3. change datatype of certain columns. 
4. Deal with only one null value.

In [3]:
# drop column
df.drop("Unnamed: 0", axis=1, inplace=True)

In [84]:
data = df.rename(columns = {'country name':'Country',
                     'current population':'Population_23',
                    'population 2022':'Population_22',
                    'area':'area_all',
                    'land area':'Land',
                    'density':'Density',
                    'growth rate':'Growth_rate',
                    'world percentage':'Ratio',
                    'rank':'rank'})

In [85]:
print(data.columns)

Index(['Country', 'Population_23', 'Population_22', 'area_all', 'Land',
       'Density', 'Growth_rate', 'Ratio', 'rank'],
      dtype='object')

In [107]:
# change data type of population 23
data['Population_23'] = data['Population_23'].str.replace(',','')
data['Population_23'] = data['Population_23'].astype(int)

In [106]:
# data type population 22
data['Population_22'] = data['Population_22'].str.replace(',','')
data['Population_22'] = data['Population_22'].astype(int)

In [105]:
# area
data['area_all']=data['area_all'].str.replace('M','000000')
data['area_all']=data['area_all'].str.replace('K','000')
data['area_all']=data['area_all'].str.replace('< 1','1')

data['area_all']=data['area_all'].astype(float)

In [102]:
# Land
data['Land']=data['Land'].str.replace('M','000000')
data['Land']=data['Land'].str.replace('K','000')
data['Land']=data['Land'].str.replace('<','1')
data['Land']=data['Land'].astype('float')

In [109]:
# Density
data["Density"] = data["Density"].str.replace(',','')
data["Density"] = data["Density"].astype(float)

In [89]:
#Ratio
data['Ratio'] = data['Ratio'].str.replace('%','')
data['Ratio'] = data['Ratio'].astype(float)

In [91]:
# growth rate
data['Growth_rate'] = data['Growth_rate'].str.replace('%','')
data['Growth_rate'] = data['Growth_rate'].astype(float)

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        205 non-null    object
 1   Population_23  205 non-null    int32
 2   Population_22  205 non-null    int32
 3   area_all       205 non-null    float64
 4   Land           205 non-null    float64
 5   Density        205 non-null    float64
 6   Growth_rate    205 non-null    float64
 7   Ratio          204 non-null    float64
 8   rank           205 non-null    int64
dtypes: float64(5), int32(2), int64(1), object(1)
memory usage: 12.9+ KB